{{!-- {{#each this}} --}}
<div class="photo-card">
    <a class="gallery__link" href={{largeImageUR}}>
    <img src={{webformatURL}} alt={{tags}} loading="lazy" />
    </a>
    <div class="info">
        <p class="info-item">
            <b>{{Likes}}</b>
        </p>
        <p class="info-item">
            <b>{{Views}}</b>
        </p>
        <p class="info-item">
            <b>{{Comments}}</b>
        </p>
        <p class="info-item">
            <b>{{Downloads}}</b>
        </p>
    </div>
</div>
{{!-- {{/each}} --}}