{{#each this}}
<div class="photo-card">
    <a class="gallery__link" href={{largeImageUR}}>
    <img src={{webformatURL}} alt={{tags}} loading="lazy" />
    </a>
    <div class="info">
        <p class="info-item">
            <b>{{likes}}</b>
        </p>
        <p class="info-item">
            <b>{{views}}</b>
        </p>
        <p class="info-item">
            <b>{{comments}}</b>
        </p>
        <p class="info-item">
            <b>{{downloads}}</b>
        </p>
    </div>
</div>
{{/each}}